
/* Desktop - 1 */
* {
    width: 100%;
    position: relative;
    background: #FFFFFF;
}
/* robot */
.robot {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 450.98px;
    height: 560.39px;
}
.robot * {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* face */
#face {
    position: absolute;
    width: 246px;
    height: 115px;
}
.head {
    background: #322831;
}
/* eyes */
.eye {
    border: 13px solid #D2FFFC;
}

/* leftEye */
#leftEye {
    position: absolute;
    width: 38.5px;
    height: 19.31px;
    X: -91.5px;
    Y: -68.81px;
    border-radius: 50%;
}
/* rightEye */
#rightEye {
    position: absolute;
    width: 38.5px;
    height: 19.31px;
    transform: X: 12px Y: -68px;
} 
/* body */
#body {
    position: absolute;
    width: 297px;
    height: 505px;

    background: #FFCCFA;
    border-radius: 142px;
}
/* Hello Human */
p {
    position: absolute;
    width: 191px;
    height: 47px;
    X: -117px;
    Y: 107px;

    font-family:'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    line-height: 100%;
    text-align: center;

    color: #000000;
    background: #FFCCFA;
}
/* arm */
.arm {
    background: #FFCCFA;
    position: absolute;
    width: 54.07px;
    height: 123.37px;
}
/* leftarm */
#leftarm {
    X: -140.02px;
    Y: 91.31px;
    transform: matrix(-0.86, -0.51, -0.51, 0.86, 0, 0);
}
/* rightarm */
#rightarm {  
    X: 93px;
    Y: 78px;
    transform: rotate(-30.34deg);
}
/* rightfoot */
#rightfoot {
    position: absolute;
    width: 125px;
    height: 78.39px;

    background: #FFCCFA;
    border: 1px solid #FFCCFA;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* leftfoot */
#leftfoot {
    position: absolute;
    width: 125px;
    height: 78.39px;

    background: #FFCCFA;
    border: 1px solid #FFCCFA;
}
footer {
    text-align: center;
    color: #FFCCFA;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px #A0628C;

}